# Turborepo
.turbo

# Dependencies
node_modules

# Logs
*.log

# Environment
.env
.env.*
!.env.example

# IDE
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
