# Direct url to the API
VITE_API_URL=""

# Url of the site
VITE_PUBLIC_URL=""

# Name of the site
VITE_SITE_NAME=""

# Turnstile key, used for captcha
VITE_TURNSTILE_KEY=""

# Google adSense API key
VITE_ADSENSE_API_KEY=""

# Cookiebot API key
VITE_COOKIEBOT_API_KEY=""